<mat-card>
    <mat-card-content>
        <form (ngSubmit)="resetPassword()">
            <h2>Reset Password</h2>
            <mat-form-field class="full-width-input">
                <input
                    matInput
                    type="password"
                    placeholder="New Password"
                    name="newPassword"
                    [(ngModel)]="newPassword"
                    required
                />
                <mat-error>Please provide a valid password</mat-error>
            </mat-form-field><br />
            <mat-form-field class="full-width-input">
                <input
                    matInput
                    type="password"
                    placeholder="Confirm New Password"
                    name="confirmNewPassword"
                    [(ngModel)]="confirmNewPassword"
                    required
                />
                <mat-error>Passwords do not match</mat-error>
            </mat-form-field><br />
            <button
                mat-raised-button
                color="accent"
                type="submit"
            >
                <mat-icon>save</mat-icon>
                <span>&nbsp;&nbsp;&nbsp;Reset Password</span>
            </button>
        </form>
    </mat-card-content>
</mat-card>
