<mat-card>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <h2>Email to reset password</h2>
        <mat-error></mat-error><br />
        <mat-form-field class="full-width-input">
          <input
            matInput
            placeholder="Email"
            name="email"
            required
            autofocus
            [(ngModel)]="email"
          />
          <mat-error>Please provide a valid email</mat-error>
        </mat-form-field><br />
        <br />
        <button
          mat-raised-button
          color="accent"
          type="submit"
        >
          <mat-icon>email</mat-icon>
          <span>&nbsp;&nbsp;&nbsp;Send link to reset password</span>
        </button>

      </form>
    </mat-card-content>
  </mat-card>