<div class="rides-table">
  <div class="table-topper">
    <h2>All Rides</h2>
    <div class="range-selector">
      <h3>Show Rides From:</h3>
      <select
        id="range"
        [(ngModel)]="range"
        (change)="updateRange()"
      >
        <option value="-1">Future</option>
        <option value="0">Today</option>
        <option value="7">Previous 7 Days</option>
        <option value="30">Previous 30 Days</option>
        <option value="180">Previous 6 Months</option>
        <option value="365">Previous Year</option>
        <option value="666">All</option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Driver
          <div class="th-filter-selector">
            <input 
              placeholder="Filter by driver"
              [(ngModel)]="driverFilter"
              (ngModelChange)="updateDriver()"
            >
          </div>
        </th>
        <th>Creator
          <div class="th-filter-selector">
            <input 
              placeholder="Filter by creator"
              [(ngModel)]="creatorFilter"
              (ngModelChange)="updateCreator()"
            >
          </div>
        </th>
        <th>Riders
          <div class="th-filter-selector">
            <input 
              [(ngModel)]="riderFilter"
              (ngModelChange)="updateRiders()"
              placeholder="Filter by rider"
              >
          </div>
        </th>
        <!-- <th>Start Location</th> -->
        <th>Dropoff Location
          <div class="th-filter-selector">
            <input 
              placeholder="Filter by dropoff location"
              [(ngModel)]="doFilter"
              (ngModelChange)="updateDropoffFilter()"
            >
          </div>
        </th>
        <th>Date/Time 
          <button
              *ngIf="dateSortDirection === 0"
              (click)="updateDateSort()"
            >
              🔽
            </button>
            <button
              *ngIf="dateSortDirection === 1"
              (click)="updateDateSort()"
            >
              🔼
            </button>
        </th>
        <th>Status
          <div class="th-filter-selector">
            <select 
            id="status"
            [(ngModel)]="status"
            (change)="updateStatus()"
            >
              <option value="All">All</option>
              <option value="Not_Started">Not_Started</option>
              <option value="In_Progress">In Progress</option>
              <option value="Completed">Completed</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
        </th>
        <th>Avg Rating
          <div class="th-filter-selector">
            <select 
            id="rating"
            [(ngModel)]="ratingFilter"
            (change)="updateRating()"
            >
              <option value="-1">All</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>          
        </th>
        <th>Issues Reported
          <div class="th-filter-selector">
            <select 
            id="issue"
            [(ngModel)]="issueFilter"
            (change)="updateIssues()"
            >
              <option value="All">All</option>
              <option value="Driver_Behavior">Driver Behavior</option>
              <option value="Vehicle_Condition">Vehicle Condition</option>
              <option value="Travel_Delay">Travel Delay</option>
              <option value="Technical_Issues">Technical Issue</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </th>
        <th>Action:
          <div class="th-filter-selector">
            <select 
            id="action"
            [(ngModel)]="action"
            >
              <option value="Cancel">Cancel</option>
              <option value="View">View</option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ride of filteredRides">
        <td data-label="Driver">{{ ride.driver }}</td>
        <td data-label="Creator">{{ ride.creator }}</td>
        <td data-label="Riders">
          <span *ngFor="let rider of ride.riders">
            {{ rider.riderID }}
            <br> <!-- Optional line break to separate riderIDs -->
          </span>
        </td>
        <td data-label="Dropoff Location">{{ ride.dropoffLocation?.name}}</td>
        <td data-label="Date/Time">{{ ride.dateTime | date }}</td>
        <td data-label="Status">{{ ride.status }}</td>
        <td data-label="Average Rating" class="avg-rating">{{ ride.avgFeedbackRating }}</td>
        <td data-label="Issues">
          <span>
            <!-- For holding array of issue categories -->
            <p *ngFor="let issue of ride.issue">{{issue.category}}</p>
          </span>
        </td>
        <td>
          <button 
          *ngIf="action == 'Cancel'"
          class="btn btn-danger" 
          (click)="cancelRide(ride._id)"
          >Cancel</button>

          <button
          *ngIf="action == 'View'"
          class="btn btn-primary"
          [routerLink]="'/admin/rideDetails/' + ride._id"
          >View
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>