<div class="rides-table">
  <div class="table-topper">
    <h2>All Rides</h2>
    <div class="range-selector">
      <h3>Show Rides From:</h3>
      <select
        id="range"
        [(ngModel)]="range"
        (change)="updateRange()"
      >
        <option value="-1">Future</option>
        <option value="0">Today</option>
        <option value="7">Previous 7 Days</option>
        <option value="30">Previous 30 Days</option>
        <option value="180">Previous 6 Months</option>
        <option value="365">Previous Year</option>
        <option value="666">All</option>
      </select>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Driver
          <div class="th-filter-selector">
            <input placeholder="Filter by driver">
          </div>
        </th>
        <th>Creator
          <div class="th-filter-selector">
            <input placeholder="Filter by creator">
          </div>
        </th>
        <th>Riders
          <div class="th-filter-selector">
            <input placeholder="Filter by rider">
          </div>
        </th>
        <!-- <th>Start Location</th> -->
        <th>Dropoff Location
        </th>
        <th>Date/Time</th>
        <th>Status
          <div class="th-filter-selector">
            <select 
            id="status"
            [(ngModel)]="status"
            (change)="updateStatus()"
            >
              <option value="All">All</option>
              <option value="Not_Started">Not_Started</option>
              <option value="In_Progress">In Progress</option>
              <option value="Completed">Completed</option>
              <option value="Cancelled">Cancelled</option>
            </select>
          </div>
        </th>
        <th>Action:
          <div class="th-filter-selector">
            <select 
            id="action"
            [(ngModel)]="action"
            >
              <option value="Cancel">Cancel</option>
              <option value="View">View</option>
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ride of rides">
        <td>{{ ride.driver }}</td>
        <td>{{ ride.creator }}</td>
        <td>
          <span *ngFor="let rider of ride.riders">
            {{ rider.riderID }}
            <br> <!-- Optional line break to separate riderIDs -->
          </span>
        </td>
        <td>{{ ride.dropoffLocation?.name}}</td>
        <td>{{ ride.dateTime | date }}</td>
        <td>{{ ride.status }}</td>
        <td>
          <button 
          *ngIf="action == 'Cancel'"
          class="btn btn-danger" 
          (click)="cancelRide(ride._id)"
          >Cancel</button>

          <button
          *ngIf="action == 'View'"
          class="btn btn-primary"
          [routerLink]="'/admin/rideDetails/' + ride._id"
          >View
        </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>