.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
}

.left-panel,
.middle-panel,
.right-panel {
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}

.table-container {
  border: 1px solid #ccc;
  flex-grow: 1;
  overflow-y: auto;
  padding: 1%;
  width: 100%;
  max-width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.status-message {
  margin-top: 10px;
  text-align: center;
}
