h1 {
  margin: 0;
}

p {
  margin: 0;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-dot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  z-index: 1; /* Ensure the red dot appears on top of the notification bell icon */
}

.highlighted {
  background-color: rgb(248, 248, 93); /* Change the background color to yellow or any other color of your choice */
  animation: highlight 2s linear; /* Apply the highlight animation for 2 seconds */
}

.notification-cross {
  /* Add some styles to make it look like a button */
  padding: 9px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out; /* Add transform transition */
  background: none;
}

.notification-cross:hover {
  /* Add a background color on hover (optional) */
  background-color: #f5f5f5;
  transform: scale(1.05);
}

@keyframes highlight {
  from {
    background-color: rgb(243, 243, 94); /* Start with the highlight color */
  }
  to {
    background-color: transparent; /* Gradually transition to transparent (no highlight) */
  }
}

.notifications-menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 300px;
  max-height: 200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow-y: auto;
  word-wrap: break-word;
}

@media (max-width: 576px) {
  /* Adjust the width for smaller screens, like iPhones */
  .notifications-menu {
    width: 250px;
  }
}

.notifications-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.notification-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.notification-icon {
  cursor: pointer;
  margin-right: 10px;
  font-size: 13px;
  color: #333;
}

.notification-details {
  flex: 1;
  max-width: 200px;
  word-wrap: break-word;
}

.notification-title {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.notification-message {
  margin: 0;
  font-size: 12px;
  color: #666;
}

#topbell{
  font-size: 17px;
  color:antiquewhite;
}

/* *********************************************************************** */

/* Add a pointer cursor to indicate the clickable area */
.notification-icon, .notification-item {
  cursor: pointer;
}

/* Remove default focus outline */
.notification-icon:focus, .notification-item:focus {
  outline: none;
}

/* Add a subtle hover effect */
.notification-icon:hover, .notification-item:hover {
  /* box-shadow: none; */  
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 1px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

/* Style the icons as buttons */
.notification-icon {
  padding: 5px;
  border-radius: 100%; /* Make the icon container circular */
  transition: background-color 0.3s ease;
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); */
}

/* Adjust the cross icon style to make it more button-like */
.notification-icon .faTimes {
  font-size: 12px;
  color: #999;
}

/* Make the bell icon and cross icon in the notification item smaller to fit the design */
.notification-item .faTimes {
  font-size: 12px;
}

/* Style the "Clear All" button */
.clear-notifications-button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #0078d4;
  cursor: pointer;
  margin-top: 8px;
}

/* *********************************************************************** */


.clear-notifications-button:hover {
  color:#fff; 
  background-color: #e61728;
} 

 

/* 
@media only screen and (max-width: 600px) {
  .clear-notifications-button {
    font-size: 14px;
    padding: 8px 16px;
  }
}


@media only screen and (min-width: 600px) {
  .clear-notifications-button {
    font-size: 16px;
    padding: 10px 20px;
  }
}


@media only screen and (min-width: 992px) {
  .clear-notifications-button {
    font-size: 18px;
    padding: 12px 24px;
  }
} */



