<head>
    <title>Chat Component</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<div class="container">
    <div class="card" *ngIf="userList.length !== 0">
      <div class="card-body row">
        <div class="col-4" style="max-height: 500px">
          <ul class="list-unstyled mt-2 mb-0 h-100 overflow-auto">
            <ng-container *ngFor="let users of userList">
              <li class="border border-bottom justify-content-evenly p-2 rounded text-center"
                *ngIf="users._id != user._id" (click)="switchUser(users)">
                <span class="m-2">{{ users.username }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
        <ng-container *ngIf="isMessageContainer">
          <div class="col-8">
            <h2 class="card-title row">{{ TitleName }}</h2>
            <div #messageContainer class="card-text" style="
                max-height: 500px;
                width: 100%;
                overflow-y: auto;
                height: 400px;
                overflow-x: hidden;
              ">
              <ng-container *ngIf="messageList.length === 0; else messagesContainer">
                <div class="text-center">{{ isLoadingMessage }}</div>
              </ng-container>
              <ng-template #messagesContainer>
                <div class="row" *ngFor="let message of messageList">
                  <ng-container *ngIf="message?.senderId == user._id">
                    <div class="d-flex justify-content-end text-end">
                      <div class="bg-info-subtle rounded m-2" style="min-width: 200px; min-height: 100px">
                        <span class="title-name d-grid p-3">{{ "You" }}</span>
                        <p class="d-inline p-3">
                          {{ message?.message }}
                        </p>
                      </div>
                    </div>
                  </ng-container>
  
                  <ng-container *ngIf="message?.senderId != user._id">
                    <div class="d-flex justify-content-start text-start">
                      <div class="bg-light rounded m-2" style="min-width: 200px; min-height: 100px">
                        <span class="title-name d-grid p-3">{{
                          message?.senderName
                          }}</span>
                        <p class="d-inline p-3">
                          {{ message?.message }}
                        </p>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-template>
            </div>
  
            <div class="d-flex justify-content-end mx-5">
              <input class="col-10" [(ngModel)]="newMessage" placeholder="Enter Message....." />
              <span class="bg-dark-subtle p-3" (click)="sendMessage()"><i class="fa fa-send"></i></span>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>