.results-container {
    margin-top: 20px;
    height: 366px;
    overflow-y: auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


.form-error-msg {
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgb(170, 182, 207);
    border-radius: 5px;
    text-align: center;
    
}