.results-container {
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    min-height: 100%
}


.form-error-msg {
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: rgb(170, 182, 207);
    border-radius: 5px;
    text-align: center;    
}