<div>
  <div class="rating" style="margin-bottom: 2%">
    <span
      class="star"
      *ngFor="let star of stars"
      (mouseenter)="hoverStar(star)"
      (mouseleave)="resetStars()"
      (click)="selectStar(star)"
      [ngClass]="{
        selected: star <= selectedStar,
        hovered: star <= (hoveredStar || 0)
      }"
      >&#9733;</span
    >
  </div>
  <div class="error-message" *ngIf="errorType === 'ratingStar'">
    {{ errorMessage }}
  </div>
  <label for="dropdown">Feedback Category: </label>
  <div class="options-container">
    <select id="dropdown" name="selectedOption" [(ngModel)]="selectedOption">
      <option *ngFor="let option of options" [value]="option">
        {{ option || "--- Select a Feedback Category ---" }}
      </option>
    </select>
  </div>
  <div class="error-message" *ngIf="errorType === 'option'">
    {{ errorMessage }}
  </div>
  <div class="textarea-container">
    <textarea
      style="margin-bottom: 2%"
      class="form-control mt-3 large-textarea"
      rows="3"
      placeholder="Enter your feedback"
      [(ngModel)]="textFeedback"
    ></textarea>
    <br />
  </div>
  <div class="error-message" *ngIf="errorType === 'textarea'">
    {{ errorMessage }}
  </div>
  <div class="button-container">
    <button
      class="btn btn-primary mt-3 custom-button"
      (click)="submitFeedback(rideId)"
    >
      Submit
    </button>
  </div>
</div>
