div {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: default;
}

.star {
  font-size: 175%;
  cursor: pointer;
  color: #ccc;
}

.selected,
.hovered {
  font-size: 225%;
  color: orange;
}

.large-textarea {
  height: 100px;
  width: 90%;
  resize: none;
}

.rating {
  justify-content: center;
  margin-bottom: 3%;
  display: flex;
  font-size: x-large;
  align-items: baseline;
}

.textarea-container {
  justify-content: center;
  display: flex;
  align-items: baseline;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-button:hover {
  cursor: pointer;
}
.custom-button {
  padding: 8px 18px; /* Adjust the padding as needed */
  font-size: 14px; /* Adjust the font size as needed */
  border-radius: 8px; /* Adjust the border radius as needed */
  border: none;
  background-color: #007bff; /* Set the desired background color */
  color: #fff; /* Set the desired text color */
}
.error-message {
  display: flex;
  justify-content: center;
  color: #f52828;
}
