.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
  flex-direction: row;
  flex-grow: 1; /* Allow the container to grow and take up available space */
}

.form-container {
  width: 40%;
  margin: 1em;
  border-color: #ccc;
  border-radius: 5px;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  flex-grow: 1; /* Allow the form-container to grow and take up available space */
  flex: 1;
  height: 57em;
}

.map-container {
  width: 60%; /* Adjust the width as desired */
  height: 100%; /* Adjust the height as desired */
}

form {
  background-color: #f2f2f2;
  padding: 1.5em;
  border-radius: 5px;  
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  max-height: 50%;
  min-width: 40%;
}

app-available-rides-list {
  min-height: 100%;
  min-width: 50%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
input[type="time"],
select {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: .5em;
  background-color: rgb(63, 81, 181);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: space-between;
}

.search-button,
.create-button {
  flex: 1;
  margin-right: 10px;
}

.form-error-msg{
  color: red;
  font-size: 12px;
  margin-top: 2px;
  margin-bottom: 0;
}

button.search-button {
  background-color: #ff3333;
}

button.create-button {
  background-color: rgb(63, 81, 181);
}
button.create-button:hover {
  background-color: rgb(84, 104, 206);
}

input.ng-touched.ng-invalid {
  border: red 1px solid;
}

button:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 2, 12, 0.2);
}
