<html>
<head>
    <title>Rides</title>
    
</head>
<body>
    <div class="container">
        <div class="form-container">
            <form action="#" method="post">
                <label for="pickup-location">Pickup Location:</label>
                <input type="text" id="pickup-location" name="pickup-location" required><br><br>
                
                <label for="dropoff-location">Drop-off Location:</label>
                <input type="text" id="dropoff-location" name="dropoff-location" required>
                <br><br>
                
                <label for="date">Date:</label>
                <input type="date" id="date" name="date" required><br><br>
    
                <label for="time">Time:</label>
                <input type="time" id="time" name="time" required><br><br>
                
                <label for="rider-driver">Rider/Driver:</label>
                <input type="text" id="rider-driver" name="rider-driver"><br><br>
                
                <label for="search-range">Search Range:</label>
                <select id="search-range" name="search-range">
                    <option value="2.5 kilometers">2.5 kilometers</option>
                    <option value="5 kilometers">5 kilometers</option>
                    <option value="10 kilometers">10 kilometers</option>
                    <option value="20 kilometers">20 kilometers</option>
                </select><br><br>
                
                <input type="submit" value="Submit">
            </form>

            <div class="results-container">
                <p>results list placeholder</p>
                <!-- Want to place an updating stack of cards showing ride details here -->
            </div>

        </div>

        <div class="map-container">
            <app-map></app-map>
        </div>

    </div>
</body>
</html>


