<h1>My Rides</h1>
<div *ngIf="!rides">
  <!-- Show loader when rides array is empty -->
  <div class="loader"></div>
</div>
<div class="notification-container" *ngIf="rides && rides.length === 0">
  <div class="notification">
    <h2>You dont have any rides yet</h2>
    <button class="ride-button" [routerLink]="'/rides/'">Add Rides</button>
  </div>
</div>
<div class="ride-container" *ngIf="rides && rides.length > 0">
  <div *ngFor="let ride of rides" class="ride-card">
    <div class="ride-details">
      <p>Date: {{ ride.dateTime }}</p>
      <p *ngIf="ride.pickupLocation">
        Start Location: {{ ride.pickupLocation }}
      </p>
      <span
        *ngIf="!ride.pickupLocation && ride.riders && ride.riders.length > 0"
      >
        <p>Pickup Locations</p>
        <ul class="custom-list">
          <li *ngFor="let r of ride.riders" class="custom-list-item">
            {{ r.riderId }}: {{ r.pickupLocation }}
          </li>
        </ul>
      </span>
      <span
        *ngIf="!ride.pickupLocation && ride.riders && ride.riders.length === 0"
      >
        <p>No Riders yet</p>
      </span>
      <p>End Location: {{ ride.dropoffLocation }}</p>
      <p *ngIf="ride.driverName">Driver: {{ ride.driverName }}</p>
    </div>
    <div class="ride-status">
      <div [style.backgroundColor]="ride.color" [ngClass]="{ dot: true }"></div>
      <span class="status-text">{{ ride.statusString }}</span>
    </div>
    <hr class="ride-divider" />
    <!-- Add the buttons and divider here -->
    <div class="ride-buttons">
      <button
        class="ride-button"
        [routerLink]="'/rating/' + ride.rideId"
        [queryParams]="{
          date: ride.dateTime,
          startLocation: ride.pickupLocation,
          endLocation: ride.dropoffLocation
        }"
      >
        Provide Feedback
      </button>
      <button class="ride-button" [routerLink]="'/chat'">Messages</button>
      <button
        class="ride-button"
        *ngIf="ride.pickupLocation && !ride.driverName"
        (click)="onDriverNeededClick(ride.rideId, ride.dropoffLocation)"
      >
        Offer to Drive
      </button>
      <button
        class="ride-button"
        (click)="onLeaveRideClick(ride.rideId, ride.riders !== undefined)"
      >
        Leave Ride
      </button>
      <button class="ride-button">Cancel Ride</button>
    </div>
  </div>
</div>
