<h1>My Rides</h1>
<div *ngIf="!rides">
  <!-- Show loader when rides array is empty -->
  <div class="loader"></div>
</div>
<div class="notification-container" *ngIf="rides && rides.length === 0">
  <div class="notification">
    <h2>You dont have any rides yet</h2>
    <button class="ride-button" [routerLink]="'/rides/'">Add Rides</button>
  </div>
</div>
<div class="ride-container" *ngIf="rides && rides.length > 0">
  <div *ngFor="let ride of rides" class="ride-card">
    <div *ngIf="cardLoading !== ride.rideId" class="ride-details">
      <div>
        <p>Date: {{ ride.dateTime }}</p>
        <p *ngIf="ride.exactTime">Arrival Time: {{ ride.exactTime }}</p>
        <p *ngIf="ride.pickupLocation">
          Start Location:
          <a
            [href]="
              'https://www.google.com/maps?q=' +
              ride.pickupLocation?.location?.lat +
              ',' +
              ride.pickupLocation?.location?.lng
            "
            target="_blank"
            >{{ ride.pickupLocation.name }}</a
          >
        </p>
        <span
          *ngIf="!ride.pickupLocation && ride.riders && ride.riders.length > 0"
        >
          <p>Pickup Locations</p>
          <ul class="custom-list">
            <li *ngFor="let r of ride.riders" class="custom-list-item">
              <span
                *ngIf="
                  ride.statusString !== 'Complete' &&
                  ride.statusString !== 'Cancelled' &&
                  r.pickupLocation
                "
                >{{ r.riderId }}:
                <a
                  [href]="
                    'https://www.google.com/maps?q=' +
                    r.pickupLocation?.location?.lat +
                    ',' +
                    r.pickupLocation?.location?.lng
                  "
                  target="_blank"
                  >{{ r?.pickupLocation?.name }}</a
                ></span
              >
              <span
                *ngIf="
                  ride.statusString === 'Complete' ||
                  ride.statusString === 'Cancelled'
                "
                >{{ r.riderId }}</span
              >
            </li>
          </ul>
        </span>
        <span
          *ngIf="
            !ride.pickupLocation && ride.riders && ride.riders.length === 0
          "
        >
          <p>No Riders yet</p>
        </span>
        <p *ngIf="ride.dropoffLocation">
          End Location:
          <a
            [href]="
              'https://www.google.com/maps?q=' +
              ride.dropoffLocation?.location?.lat +
              ',' +
              ride.dropoffLocation?.location?.lng
            "
            target="_blank"
            >{{ ride?.dropoffLocation?.name }}</a
          >
        </p>
        <p *ngIf="ride.driverName">Driver: {{ ride.driverName }}</p>
      </div>
      <app-rating
        *ngIf="!ride.rating && ride.statusString === 'Complete'"
        [rideId]="ride.rideId"
        (feedbackSubmitted)="reloadRideList(ride.rideId)"
      ></app-rating>
      <div *ngIf="ride.rating" class="ride-review">
        <strong><h3>Your review of this ride:</h3></strong>
        <p>Rating:{{ ride.rating }}</p>
        <p *ngIf="ride.feedbackCategory">{{ ride.feedbackCategory }} :</p>
        <p *ngIf="ride.feedback">{{ ride.feedback }}</p>
      </div>
    </div>
    <div *ngIf="cardLoading !== ride.rideId" class="ride-status">
      <div [style.backgroundColor]="ride.color" [ngClass]="{ dot: true }"></div>
      <span class="status-text">{{ ride.statusString }}</span>
    </div>

    <hr *ngIf="cardLoading !== ride.rideId" class="ride-divider" />
    <div *ngIf="cardLoading !== ride.rideId" class="ride-buttons">
      <button class="ride-button" (click)="onChatting(ride.rideId, ride)">
        Messages
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.pickupLocation &&
          !ride.driverName &&
          ride.statusString === 'Not Started'
        "
        (click)="onDriverNeededClick(ride.rideId, ride?.dropoffLocation?.name)"
      >
        Offer to Drive
      </button>
      <button
        class="ride-button"
        (click)="onLeaveRideClick(ride.rideId, ride.riders !== undefined)"
        *ngIf="
          ride.statusString === 'Not Started' ||
          ride.statusString === 'Cancelled' ||
          ride.statusString === 'Not Completed'
        "
      >
        Leave Ride
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.statusString === 'Not Started' &&
          user._id === ride.driver &&
          ride.canStartRide
        "
        (click)="startRide(ride.rideId)"
      >
        Start Ride
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.statusString === 'Not Started' ||
          ride.statusString === 'In Progress'
        "
        (click)="cancelRide(ride.rideId)"
      >
        Cancel Ride
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.statusString !== 'Complete' &&
          ride.statusString !== 'Cancelled' &&
          ride.statusString !== 'Not Started' &&
          (user._id === ride.creator || user._id === ride.driver)
        "
        (click)="completeRide(ride.rideId)"
      >
        Mark as completed
      </button>

      <!-- <button (click)="reportIssue(ride.rideId)"><img src="../../assets/images/issue.png"></button> -->

      <button
        class="report-issue-button"
        *ngIf="ride.statusString === 'Complete'"
        (click)="reportIssue(ride.rideId)"
      >
        <img src="../../assets/images/issue.png" alt="Report Issue" />
        <span>Report Issue</span>
      </button>
    </div>
    <div *ngIf="cardLoading === ride.rideId">
      <div class="loader"></div>
    </div>
  </div>
</div>
