.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px; /* Adjust the height to make it larger */
}

.loader:before {
  content: "";
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px; /* Adjust the width to make it larger */
  height: 120px; /* Adjust the height to make it larger */
  animation: spin 2s linear infinite;
}

/***************************************************************************************************/

/* report-issue-button.css */

/* Style the button */
.report-issue-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative; /* Add this to make text positioning relative to the button */
}

/* Style the image inside the button */
.report-issue-button img {
  width: 50px; /* Adjust the width to your preferred size */
  height: 50px; /* Adjust the height to your preferred size */
  border-radius: 50%; /* To make the image circular, if needed */
  transition: transform 0.3s ease-in-out; /* Add a transition effect */
}

/* Style the text (hidden by default) */
.report-issue-button span {
  display: block; /* Change from "none" to "block" */
  text-align: center; /* Center the text below the image */
  margin-top: 15px; /* Add a little margin to separate the image and text */
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5px;
  border-radius: 5px;
  color: white;
  position: absolute; /* Position the text absolutely */
  /* width: 100%; Make the text width same as the button */
  bottom: -40px; /* Adjust the vertical position as needed */
  left: 0;
  opacity: 0; /* Hide the text by default */
}

/* Show the text on hover */
.report-issue-button:hover span {
  opacity: 1; /* Show the text on hover */
}

/* Button-like effect on hover */
.report-issue-button:hover img {
  transform: scale(1.1); /* Increase the scale to create a pop-out effect */
}

/***************************************************************************************************/

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ride-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ride-container > a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.ride-card {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}
.ride-card {
  display: flex;
  width: 28%;
  overflow: auto;
}
@media (max-width: 1280px) {
  .ride-card {
    flex-basis: auto;
    width: 40%;
  }
}
@media (max-width: 900px) {
  .ride-card {
    width: 60%;
  }
}

@media (max-width: 640px) {
  .ride-card {
    width: 92%;
  }
}
@media (max-width: 432px) {
  .ride-card {
    width: 100%;
  }
}
.notification-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notification {
  color: green;
}

.ride-details {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-basis: 70%; /* Adjust the width of the details column */
  padding-right: 10px; /* Add spacing between columns */
}

.ride-buttons {
  display: flex;
  flex-basis: 30%; /* Adjust the width of the details column */
  padding-left: 10px; /* Add spacing between columns */
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin-top: 10px;
}

.ride-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
}

.ride-divider {
  margin-top: 10px;
  border: none;
  border-left: 1px solid #ccc;
}
.ride-details-divider {
  margin-top: 10px;
  border: none;
  border-top: 1px solid #ccc;
}
.ride-status {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.orange {
  background-color: orange;
}
/* .no-list-style {
  list-style-type: none;
  padding-left: 0;
}

.no-list-style li {
  margin-left: 0;
} */
.custom-list {
  list-style-type: none;
  padding-left: 10px;
}

.custom-list-item::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 1px;
  background-color: black;
  margin-right: 5px;
  vertical-align: middle;
}
h3 {
  margin: 0px 0px 8px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}
