<h1>My Rides</h1>
<div *ngIf="!rides">
  <!-- Show loader when rides array is empty -->
  <div class="loader"></div>
</div>
<div class="notification-container" *ngIf="rides && rides.length === 0">
  <div class="notification">
    <h2>You dont have any rides yet</h2>
    <button class="ride-button" [routerLink]="'/rides/'">Add Rides</button>
  </div>
</div>
<div class="ride-container" *ngIf="rides && rides.length > 0">
  <div *ngFor="let ride of rides" class="ride-card">
    <div *ngIf="cardLoading !== ride.rideId" class="ride-details">
      <div>
        <p>Date: {{ ride.dateTime }}</p>
        <p *ngIf="ride.pickupLocation">
          Start Location: {{ ride.pickupLocation }}
        </p>
        <span
          *ngIf="!ride.pickupLocation && ride.riders && ride.riders.length > 0"
        >
          <p>Pickup Locations</p>
          <ul class="custom-list">
            <li *ngFor="let r of ride.riders" class="custom-list-item">
              {{ r.riderId }}: {{ r.pickupLocation }}
            </li>
          </ul>
        </span>
        <span
          *ngIf="
            !ride.pickupLocation && ride.riders && ride.riders.length === 0
          "
        >
          <p>No Riders yet</p>
        </span>
        <p>End Location: {{ ride.dropoffLocation }}</p>
        <p *ngIf="ride.driverName">Driver: {{ ride.driverName }}</p>
      </div>
      <app-rating
        *ngIf="!ride.rating && ride.statusString === 'Complete'"
        [rideId]="ride.rideId"
        (feedbackSubmitted)="reloadRideList(ride.rideId)"
      ></app-rating>
      <div *ngIf="ride.rating" class="ride-review">
        <strong><h3>Your review of this ride:</h3></strong>
        <p>Rating:{{ ride.rating }}</p>
        <p *ngIf="ride.feedback">{{ ride.feedback }}</p>
      </div>
    </div>
    <div *ngIf="cardLoading !== ride.rideId" class="ride-status">
      <div [style.backgroundColor]="ride.color" [ngClass]="{ dot: true }"></div>
      <span class="status-text">{{ ride.statusString }}</span>
    </div>

    <hr *ngIf="cardLoading !== ride.rideId" class="ride-divider" />
    <div *ngIf="cardLoading !== ride.rideId" class="ride-buttons">
      <button class="ride-button" (click)="onChatting(ride.rideId, ride)">
        Messages
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.pickupLocation &&
          !ride.driverName &&
          ride.statusString === 'Not Started'
        "
        (click)="onDriverNeededClick(ride.rideId, ride.dropoffLocation)"
      >
        Offer to Drive
      </button>
      <button
        class="ride-button"
        (click)="onLeaveRideClick(ride.rideId, ride.riders !== undefined)"
        *ngIf="
          ride.statusString === 'Not Started' ||
          ride.statusString === 'Cencelled'
        "
      >
        Leave Ride
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.statusString === 'Not Started' ||
          ride.statusString === 'In Progress'
        "
        (click)="cancelRide(ride.rideId)"
      >
        Cancel Ride
      </button>
      <button
        class="ride-button"
        *ngIf="
          ride.statusString !== 'Complete' &&
          ride.statusString !== 'Cancelled' &&
          (user._id === ride.creator || user._id === ride.driver)
        "
        (click)="completeRide(ride.rideId)"
      >
        Mark as completed
      </button>
    </div>
    <div *ngIf="cardLoading === ride.rideId">
      <div class="loader"></div>
    </div>
  </div>
</div>
